@media only screen and (max-width: 430px) {
   .container {
      display: grid;
      justify-content: center;
   }

   .btn__container__mat {
      grid-column-gap: 13px;
   }

   .defalt__main {
      grid-column: 1;
      margin-top: 10px;
      margin-left: 13px;
      font-size: 82px;
   }

}

/* @media only screen and (max-width: 390px) {
   .container {
      display: grid;
      justify-content: center;
   }

   .matrix__block {
      grid-column-gap: 10px;
   }

   .btn__container {
      grid-column-gap: 30px;
   }
} */