body {
   font-family: 'Inter', sans-serif;
   background-color: #000000;
   color: #ffffff;
}

div#maincontent {
   position:relative;
   padding: 20px;
   overflow: hidden;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 120px);
   grid-template-rows: repeat(8, 56px);
   user-select: none;
}

.matrix__calc {
   display: grid;
   grid-template-columns: repeat(3, 120px);
   grid-template-rows: repeat(8, 56px);
   user-select: none;
}

.matrix {
   grid-row-gap: 15px;
}

.matrix__main {
   justify-content: center;
}

.matrix__container {
   display: grid;
   grid-column: 3;
}

.matrix__block {
   display: grid;
   grid-template-columns: repeat(3, 120px);
   grid-template-rows: repeat(3, 12px);
   grid-column-gap: 7px;
   grid-row-gap: 20px;
}

.mat {
   width: 96px;
   height: 40px;
   font-size: 14px;
   color: #ffffff;
   border-top: none;
   border-right: none;
   border-left: none;
   background: none;
   outline: none;
   text-align: center;
}

.mat:focus {
   border-bottom: 2px solid #ff9f0a;
}

.mat:focus::placeholder {
   color: transparent;
}

.result__matrix__main {
   font-size: 17px;
}

/* Buttons */
.btn__container__mat {
   display: grid;
   text-align: center;
   grid-template-columns: repeat(4, 80px);
   grid-template-rows: repeat(4, 80px);
   grid-column-gap: 13px;
   grid-row-gap: 10px;
   grid-column: 1;
   grid-row: 6;
}

.calc__btn {
   border-radius: 51px;
   border: none;
   background-color: #333333;
   color: #ffffff;
   font-size: 40px;
   text-align: center;
   grid-column-gap: 15px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 10px 15px;
   user-select: none;
}

.math__letter {
   font-size: 50px;
}

.calc__btn__minus {
   grid-column: 4;
   grid-row: 3;
   background-color: #ff9f0a;
}

.calc__btn__zero {
   grid-column: 1/2;
   grid-row: 4/5;
}

.calc__btn__comma {
   grid-column: 3;
   grid-row: 4/4;
}

.calc__btn__equal {
   grid-column: 4;
   grid-row: 4/5;
   background-color: #ff9f0a;
}

.calc__btn__another {
   grid-column: 2;
   grid-row: 4/5;
}

.calc__btn__delete {
   grid-column: 4;
   grid-row: 2/2;
   color: #000000;
   background-color: #a5a5a5;
}

.calc__btn__delete__all {
   grid-column: 4;
   grid-row: 1/1;
   color: #000000;
   background-color: #a5a5a5;
}


/* default calc */
.default__calc {
   display: grid;
   grid-template-columns: repeat(7, 100px);
   grid-template-rows: repeat(10, 38.30px);
}

.defalt__main {
   grid-column: 1;
   grid-row: 3;
   margin-top: 25px;
   margin-left: -17px;
   font-size: 82px;
}
/* 
.defalt__main input {
   caret-color: transparent;
   /* Делаем цвет курсора прозрачным */
   /* color: #ffffff; */
   /* Делаем цвет текста прозрачным (опционально) */
/* } */
 

.btn__container__default {
   display: grid;
   text-align: center;
   grid-template-columns: repeat(4, 80px);
   grid-template-rows: repeat(4, 80px);
   grid-column-gap: 13px;
   grid-row-gap: 10px;
   grid-column: 1;
   grid-row: 7;
   color: #ffffff;
}

.orange__value {
   background-color: #ff9f0a;
}

.grey__value {
   background-color: #a5a5a5;
   color: #000000;
}

.result__default {
   margin: 0;
   text-align: end;
   user-select: none;
   width: 355px;
   outline: none;
   background: none;
   color: #ffffff;
   border: none;
}

.calc__btn__another__default {
   color: rgba(0, 0, 0, 0.2);
}

.calc__btn__zero__default {
   display: flex;
   justify-content: start;
   width: 160px;
}